@import "./../../resource/default";
.card-wrap{
    margin-bottom:10px;
    Button{
      margin-right:10px;
    }
    .margin-right-none{
      margin-right:0;
    }
    .ant-spin{
      margin-right:10px;
    }
    .ant-alert{
        margin-bottom:10px;
    }
    .ant-card{
      margin-bottom:10px;
    }
}

.vertical-center-modal{
    text-align: center;
    white-space: nowrap;
}
.vertical-center-modal:before{
    content: "";
  display: inline-block;
  height:100%;
  vertical-align: middle;
  width:0;
}
.vertical-center-modal .ant-modal{
  display: inline-block;
  vertical-align: middle;
  top:0;
  text-align: left;
}

//banner
.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 300px;
  background: @colorD;
  overflow: hidden;
}

.ant-carousel .slick-slide p {
  color: #fff;
}

.slider-wrap .slick-slide{
    height: 400px !important;
}