@import "./../../resource/default";
.header{
  background:@colorJ;
    .header-top{
      height:60px;
      line-height:60px;
      padding:0 30px;
      text-align: right;
      a{
        margin-left: 20px;
      }
    }
    .breadcrumb{
      height:40px;
      line-height:40px;
      padding:0 30px;
      border-top:1px solid @colorA;
      .breadcrumb-title{
        text-align:center;
      }
      .weather{
        text-align:right;
        vertical-align: middle;
        .data-time{
          margin-right:10px;
        }
        .weather-img{
          height:19px;
          margin-right:10px;
          img{
            height:19px;
            margin-top:-4px;
          }
        }
      }
    }
}