@import "./../resource/default";
.container{
    .nav-left{
        color:#fff;
        height:calc(100vh);
        background:@colorK;
    }
    .main{
        height:calc(100vh);
        background: @colorG;
    }
    .content{
      padding:20px;
      position: relative;
    }
}